---

version: '3.3'

services:
  grafana:
    image: grafana/grafana:{{ grafana_version }}
    restart: unless-stopped
    networks:
      - grafana
      - nginx_reverse-proxy
    volumes:
      - {{ grafana_data_dir }}:/var/lib/grafana
      - {{ grafana_conf_dir }}:/etc/grafana
      - {{ grafana_logs_dir }}:/var/log/grafana
    environment:
      VIRTUAL_HOST: "{{ monitoring_fqdn }}"
      VIRTUAL_PORT: {{ grafana_port }}
      LETSENCRYPT_HOST: "{{ monitoring_fqdn }}"
    depends_on:
      - prometheus
    logging:
      driver: "fluentd"
      options:
        fluentd-address: "localhost:24224"
        fluentd-async: "true"
  prometheus:
    image: prom/prometheus:v{{ prometheus_version }}
    restart: unless-stopped
    networks:
      - grafana
      - prometheus
      - nginx_reverse-proxy
    depends_on:
      - node_exporter
    volumes:
      - /data/prometheus/config:/etc/prometheus
      - /data/prometheus/data:/prometheus
    environment:
      VIRTUAL_HOST: "{{ metrics_fqdn }}"
      VIRTUAL_PORT: 9090
      LETSENCRYPT_HOST: "{{ metrics_fqdn }}"
    logging:
      driver: "fluentd"
      options:
        fluentd-address: "localhost:24224"
        fluentd-async: "true"
  node_exporter:
    image: prom/node-exporter:v1.1.2
    restart: unless-stopped
    networks:
      - prometheus
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command: 
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc)($$|/)'
    logging:
      driver: "fluentd"
      options:
        fluentd-address: "localhost:24224"
        fluentd-async: "true"
  cadvisor:
    image: google/cadvisor:v0.33.0
    container_name: monitoring_cadvisor
    restart: unless-stopped
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - prometheus
    logging:
      driver: "fluentd"
      options:
        fluentd-address: "localhost:24224"
        fluentd-async: "true"

networks:
  grafana:
  prometheus:
  nginx_reverse-proxy:
    external: true
